<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ravneet.gymproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fitnesslogo"
        android:label="MA Fitness"
        android:roundIcon="@drawable/fitnesslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MAFitness"
            android:label="@string/title_activity_mafitness"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AboutUs" />
        <activity android:name=".Activities.WorkoutTechnique" />
        <activity android:name=".Activities.WorkoutProgram" />
        <activity android:name=".Activities.Diet" />
        <activity android:name=".Activities.Nutrition" />
        <activity android:name=".Activities.Supplements"></activity>
    </application>

</manifest>